# Logs
*.log

# OS / System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# IDE / Editor
/.fleet
/.idea
/.vscode
/.zed
/.nova

# Cache / Test
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Auth
/auth.json

# Dependency directories
/node_modules
/vendor

# Laravel specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Archive files
*.zip
*.tar
*.tar.gz
*.rar
